html{
  background-color: #E5E5E5;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card{
  min-width: 20rem;
}

.Card-content{
  background-color: #CECECE;
  padding: 1rem 0 1rem 0;
  margin: 0rem;
  text-align: center;
}