html{
  background-color: #E5E5E5;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card{
  width: 21.25rem;
  height: 32.5rem;
}

.Card-content{
  margin: 0rem;
  display: grid;
  width: 100%;
}

.ClassChoice{
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}


.Rubrik{
  background-color: #CECECE;
  margin: 0;
  height: 3.75rem;
  width: 21.3rem;
  text-align: center;
}

.Name{
  height: 2.5rem;
  width: 23.75;
  font-size: 1rem;
  border-radius: .25rem solid rgba(0, 0, 0, 0.8);
}

.Nameform{
  display: grid;
}

.FirstNameField, .LastNameField{
  width: 19.25rem;
}

.Nameform{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: .5rem;
}

.DropDown{
  width: 8.8rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: .25rem;
  margin-left: .5rem;
}

.small-text{
  font-size: .75rem;
  margin-left: .5rem;
}

label{
  font-family: 'PT Sans', sans-serif;
}

.DropSelect{
  display: grid;
  grid-template-areas: "many many title title"
  "DropDown-tickets DropDown-tickets DropDown-title DropDown-title";
}

.many{
  grid-area: many;
}

.title{
  grid-area: title;
}

.DropDown-tickets{
  grid-area: DropDown-tickets;
}

.DropDown-title{
  grid-area: DropDown-title;
}

.Namnform{
  display: grid;
  grid-template-areas: "FirstName FirstName"
  "FirstNameField FirstNameField"
  "LastName LastName"
  "LastNameField LastNameField";
}

.FirstName{
  grid-area: FirstName;
}

.FirstNameField{
  grid-area: FirstNameField;
}

.LastName{
  grid-area: LastName;
}

.LastNameField{
  grid-area: LastNameField;
}

.StäderSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Gbg{
  background-color: #ECECEC;
  min-width: 50%;
  min-height: 3.1rem;
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

.Sthlm{
  background-color: #E2E2E2;
  min-width: 50%;
  min-height: 3.1rem;
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

.Grid-area-DD{
  display: grid;
  grid-template-areas: "antal antal titel titel"
  "DropDown-tickets DropDown-tickets DropDown-title DropDown-title";
}

.antal{
  grid-area: antal;
}

.titel{
  grid-area: titel;
}

.DropDown-tickets{
  grid-area: DropDown-tickets;
}

.DropDown-title{
  grid-area: DropDown-title;
}

.Class2{
  display: flex;
  justify-content: flex-start;
}

.Approve, .DoneBtn{
  margin-left: 0.5rem;
}