html{
  background-color: #E5E5E5;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card{
  width: 21.25rem;
  height: 32.5rem;
}

.Card-content{
  margin: 0rem;
  display: grid;
  width: 100%;
}

.ClassChoice{
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}


.Rubrik{
  background-color: #CECECE;
  margin: 0;
  height: 3.75rem;
  width: 21.3rem;
  text-align: center;
}

.RoundBox{
  color: black;
  width: 1rem;
  height: 1rem;
}

.Name{
  height: 2.5rem;
  width: 23.75;
  font-size: 1rem;
  border-radius: .25rem solid rgba(0, 0, 0, 0.8);
}

.Nameform{
  display: grid;
}

.FirstNameField, .LastNameField{
  width: 19.25rem;
}

.time{
  font-size: .5rem;
  position: absolute;
  top: 5.5rem;
  margin-right: 3.5rem;
}

.end{
  margin-right: 4.5rem;
}

.Nameform{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1rem;
}

.DropDown{
  width: 8.8rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: .25rem;
  margin-left: 1rem;
}

.small-text{
  font-size: .75rem;
  margin-left: .25rem;
}

label{
  font-family: 'PT Sans', sans-serif;
}

.DropSelect{
  display: grid;
  grid-template-areas: "many many title title"
  "DropDown-tickets DropDown-tickets DropDown-title DropDown-title";
}

.many{
  grid-area: many;
}

.title{
  grid-area: title;
}

.DropDown-tickets{
  grid-area: DropDown-tickets;
}

.DropDown-title{
  grid-area: DropDown-title;
}

.Namnform{
  display: grid;
  grid-template-areas: "FirstName FirstName"
  "FirstNameField FirstNameField"
  "LastName LastName"
  "LastNameField LastNameField";
}

.FirstName{
  grid-area: FirstName;
  padding: .75rem 0rem .5rem;
}

.FirstNameField{
  grid-area: FirstNameField;
  width: 308px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 4px;
}

.LastName{
  grid-area: LastName;
  padding: .75rem 0rem .5rem;
}

.LastNameField{
  grid-area: LastNameField;
  width: 308px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  box-sizing: border-box;
  border-radius: 4px;
}

.StäderSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Gbg, .Sthlm{
  margin: 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 170px;
  height: 50px;
}

.Gbg{
  background-color: #ECECEC;
}

.Sthlm{
  background-color: #E2E2E2;
}

.Grid-area-DD{
  display: grid;
  grid-template-areas: "antal antal titel titel"
  "DropDown-tickets DropDown-tickets DropDown-title DropDown-title";
}

.antal{
  grid-area: antal;
  margin-left: 1.5rem;
}

.titel{
  grid-area: titel;
  margin-left: 1.5rem;
}

.DropDown-tickets{
  grid-area: DropDown-tickets;
}

.DropDown-title{
  grid-area: DropDown-title;
}

.Class2{
  display: flex;
  justify-content: flex-start;
}

.Approve, .DoneBtn{
  margin-left: 1rem;
}

.Approve{
  padding: 1rem 0rem 0rem;
}

.DoneBtn{
  width: 19.25rem;
  height: 3.5rem;
  background-color: black;
  font-size: 1.1rem;
  color: white;
  font-weight: 700;
  margin: 2rem 0 2rem 1rem;
}
